input {
  height: 50px;
}
.form-data {
  margin-top: 29px;
}
label {
  font-size: 21px;
}

.signup {
  color: rgb(223, 67, 164);
}
.member {
  text-align: center;
  margin-top: 20px;
}
.login-button {
  width: 100%;
  height: 46px;
  margin-top: 17px;
  background: rgb(131, 58, 180);
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(223, 67, 157, 0.9671218829328606) 50%,
    rgba(252, 176, 69, 1) 100%
  );
}
